k5 template

<p>{{question_string}}</p>
<p>{{photo1_url}}</p>
<p>{{photo1_pos}}</p>

<p>{{photo2_url}}</p>
<p>{{photo2_pos}}</p>
{% load staticfiles %}
<img src="/static{{photo2_url}}" alt="My image"/>

<!DOCTYPE html>
<html>
<body>
<h1> {{question_string}} </h1>

<audio controls hidden="true" id="voiceQuestion">
  <source src="/static{{audio_url}}"  type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<button type="button" onclick="play()">Click Me!</button> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<table >
  <tr>
  	{% load staticfiles %}
    <td class="unclicked" id="1"><img onclick="changeText(this)" src="/static{{photo1_url}}"  height="150" width="150" /></td>
    <td class="unclicked" id="2"><img onclick="changeText(this)" src="/static{{photo2_url}}"  height="150" width="150" /></td>		
  </tr>
</table>
<button type="button" onclick="select()">Chon dap an</button> 
</body>
<script type="text/javascript">
  $(document).ready(function(){
      $("td").click(function(){
        $("td").removeClass("clicked");
          $(this).addClass("clicked");
          //$("#answeer").val($(this).attr('id'));
          $("#answeer").attr('value',$(this).attr('id'))
      });
});
  function play(){
      document.getElementById("voiceQuestion").play();
  }
  function select() {
      if ($("#{{answeer}}").hasClass("clicked")) {
          alert("chon dung roi be");
      }else{
          alert("chon sai roi be");
      }
      
  }
</script>
<style>
.unclicked {
    border-style: solid;
    border-width: 3px;
    border-color: green;
}
.clicked {
    border-style: solid;
    border-width: 3px;
    border-color: red;
}
</style>
</html>


