
<!DOCTYPE html>
<html>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<div id="question">
  <h1> {{question_string}} </h1>
  <audio controls hidden="true" id="voiceQuestion">
  <source src="{{audio_url}}"  type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  <button type="button" onclick="play()">Voice</button> 
  <table >
    <tr>
      {% load staticfiles %}
      <td class="unclicked" id="1"><img onclick="changeText(this)" src="{{photo1_url}}"  height="150" width="150" /></td>
      <td class="unclicked" id="2"><img onclick="changeText(this)" src="{{photo2_url}}"  height="150" width="150" /></td>
      <td class="unclicked" id="3"><img onclick="changeText(this)" src="{{photo3_url}}"  height="150" width="150" /></td>
      <td class="unclicked" id="4"><img onclick="changeText(this)" src="{{photo4_url}}"  height="150" width="150" /></td>        
    </tr>
  </table>
  <button type="button" onclick="select()" >Chon dap an</button> 

<script language="JavaScript">
var answeer ='';
function load_ajax(){
            $.ajax({
                url : '/l2/loadmore',         //duong dan can goi den
                type: 'GET',                   //kieu cua request len server
                cache: false,
                data: {
                    answeered : {{question_number}}
                },
                success:                    //ham sau khi request thanh cong
                        function(result){
                            //alert("Gui thanh cong !");
                            if(result.length)
                            {
                                //alert(result);
                                $('#question').html(result);
                            }
                        }
            });
        };
  var img1_clicked =0;
  var img2_clicked =0;
  var img3_clicked =0;
  var img4_clicked =0;
  $("td").click(function(){
        switch($(this).attr('id')) {
          case '1':
              if(img1_clicked==0){
                $(this).addClass("clicked");
                img1_clicked=1;
              }else{
                $(this).removeClass("clicked");
                img1_clicked=0;
              }
              break;
          case '2':
              if(img2_clicked==0){
                $(this).addClass("clicked");
                img2_clicked=1;
              }else{
                $(this).removeClass("clicked");
                img2_clicked=0;
              }
              break;
          case '3':
              if(img3_clicked==0){
                $(this).addClass("clicked");
                img3_clicked=1;
              }else{
                $(this).removeClass("clicked");
                img3_clicked=0;
              }
              break;
          case '4':
              if(img4_clicked==0){
                $(this).addClass("clicked");
                img4_clicked=1;
              }else{
                $(this).removeClass("clicked");
                img4_clicked=0;
              }
              break;
          } 
          answeer='';
          $("td").each(function(index, element){
            if( $(this).hasClass("clicked") ) answeer += $(this).attr('id');
          })
  });
  function play(){
      document.getElementById("voiceQuestion").play();
  }
  function select() {
      if (answeer == {{answeer}}) {
          alert("chon dung roi be");  
          load_ajax();
      }else{
          alert("Chọn sai rồi bé !");
      }
  }
</script>

<style>
.unclicked {
    border-style: solid;
    border-width: 3px;
    border-color: green;
}
.clicked {
    border-style: solid;
    border-width: 3px;
    border-color: red;
}
</style>

</div>
<a href="/"> >>Về Home </a>
</body>
</html>


